.bodyWrapper {
    width: 100%;
    display: flex;
}

/* custom */
.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    background: rgba(0, 0, 0, 0.02);
    /* height: 100vh; */
    width: 86%;
}
